/* Grouping Similar Selectos */


/* This is grouping */

/*.one, .two, .three
{
    color:#FFF;
    padding:10px;
    width:300px;
    margin:10px;
    float:left;
}

.one
{
    background:#F00;
    
}

.two
{
    background:#00F;
  
}

.three
{
    background:#080;
   
} */


h1, span, div
{
    color:#F00;
}


h1
{
    
    font-weight:bold;
}

span
{
    
    font-weight:bold;
        
}

div
{
    
    padding:10px;
    background:#FFF;
    border:1px solid #00F;
    font-weight:bold;
}






















