
.class-one h1 {
    color: #080;
}

.class-one p {
    color: #080;
}

.class-two h1 {
    color: #F00;
}

.class-two p {
    color: #F00;
}

.class-three h1 {
    color: #00F;
}

.class-three p {
    color: #00F;
}

.class-four h1 {
    color: rgb(153, 85, 192);
}

.class-four p {
    color: rgb(94, 112, 190);
}














