/* 2D Transform - Translate */
/* Transform Skew take (X,Y) */


* {
    box-sizing:border-box;
}



.container{
    width:400px;
    background-color:#EEE;
    margin:100px auto;
    padding:10px;
    border:1px solid #CCC;
    height:200px;
    overflow:visible;
    
}

.skew {
    background-color:#F00;
    color:#FFF;
    text-align:center;
    height:180px;
    transition:all 1s ease-in-out;
    padding:inherit;
}

.skew:hover {
    transform: skewY(40deg) scale(1.2) translate(50px, 10px);
    
}


/* 
  transform: skew(10deg,10deg);
  transform: skew(-10deg,-10deg);
  transform: skew(10deg);
  transform: skew(-10deg,20deg);
  transform: skewX(30deg);
  transform: skewX(-30deg);
  transform: skewY(-40deg);
  transform: skewY(40deg);
  transform: skewY(40deg) scale(1.2) translate(50px, 10px);
*/































