/* 3D Transform - Scale 3D */

/* Transform - Scale take 3 value (x, y, z) */


body {
    perspective: 600px;
}



img {
    
    display:block;
    margin: 50px auto;
   
    transition: all .5s ease-in-out;
    
}


img:hover {
    transform: scaleZ( 3 ) rotateX(40deg) ;
}


/*
 transform: scale3d(1, 1, 3 ) rotateY(30deg) ;
 transform: scaleZ( 3 ) rotateY(40deg) ;
 transform: scaleZ( 3 ) rotateX(40deg) ;

*/














