/* Word Wrap */

div{
    background-color:#EEE;
    padding:10px;
    border:1px solid #CCC;
    font-family:Arial , Tahoma;
    width:300px;
    word-wrap:break-word;
        
}





































