/* You can control of SVG with Css */

circle
{
   /* opacity: .5; */
    stroke:#080;
    fill:#F00;
    stroke-width:5; 
}





/* circle:hover opacity:1; fill:#00F; */
  
  
    





































